@media (max-width: 480px) {
    body{
        overflow: scroll;
    }
    header{
        position: fixed;
        box-shadow: 0 5px 10px  black;
    }
    header a{
        margin-inline: 5px;
        font-size: small;
    }
    header nav{
        margin: 0;
    }
    main{
        margin-top: 68px;
        display: block;
        overflow: hidden;
        height: max-content;
    }
    
    aside{
        width: 100%;
        height: calc(100vh - 68px);
        box-shadow: none;
    }
    body::-webkit-scrollbar{
        background-color: var(--cor-itens);
        /* background-color: transparent; */
        width:0;
        
     }
     body::-webkit-scrollbar-thumb{
         background-color: var(--cor-desfoque);
         border-radius: 5px;
     }
     #content{
        overflow:visible ;
        height: 100%;
        width: 100%;
     }

     .container{
        width: 80%;
        font-size: 1rem;
        text-align: justify;
     }
     .container-title{
        font-size: 2rem;
     }
     #AboutMe p:last-child{
        display: none;
        font-size: 0.5rem;
     }
     .timeLine-text-title{
        font-size: 0.7rem;
        line-height: normal;
        color: var(--cor-branco);
        margin: 10px;
    
    }
    .timeLine-icon-e,.timeLine-icon-d{
        font-size: 0.7rem;
    }   
    summary{
        font-size: 0.7rem;
    }
    details p{
        font-size: 0.7rem;
    }

    /* ----------- */
    #kpi-container h4{
        font-size: 0.6rem;

    }
    
    .kpi-item div{
        font-size: 0.7rem;
    }
    /* --------- */
    .slider > *:nth-child(odd){
        display: none;
    }
    .slider .card:hover {
        width: 200%;
    
    }
    /* --------- */
   
    
    .side-d{
        display: none;
    }
    .side-e{
        width: 100%;
        overflow-y: hidden;
    }
    
    
    #Habilidades .container-content p{
        margin-bottom: 2rem;

    }
    #Habilidades .container-content .progress-bar{
        border-bottom: 1px solid #fff;
        
    }

    #Habilidades .container-content .progress-bar::before{
        content: ' ';
        position: absolute;
        height: 5rem;
        width: calc(100% + 2rem);
        box-shadow: 2px 2px 10px black;
        z-index: -4;
        
        left: -1rem;
        bottom: -10px;
    }
    .side-d{
        overflow-x: visible;
    }
}